{% extends "layout.html" %}
{% block item %}
<div class="col-md-4 offset-md-4 login-form">
    <form action="/handleUpload" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        Choose the file: <input type="file" name="photo"/><BR>
            <input type="submit" value="Upload"/>
    </form> 

    <form action="{{url_for('item')}}" method="post">
        {{ form.csrf_token }}
        <div class="input-group" > 
            {{ form.item(class="form-control form-contol-lg")}}
            <span class="input-group-btn">
                {{ form.submit(class="btn btn-info go inline", id='submit') }}
            </span>
        </div>
    </form>
</div>
{% endblock %}
